<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbresolve.mapper.test02.mdContractAccountNewMapper">
  <resultMap id="BaseResultMap" type="com.example.dbresolve.model.mdContractAccountNew">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_account_id" jdbcType="INTEGER" property="contractAccountId" />
    <result column="contract_id" jdbcType="INTEGER" property="contractId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="house_property_id" jdbcType="INTEGER" property="housePropertyId" />
    <result column="meter_id" jdbcType="INTEGER" property="meterId" />
    <result column="account_status" jdbcType="TINYINT" property="accountStatus" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_account_id, contract_id, customer_id, house_property_id, meter_id, account_status, 
    del_flag, city_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from md_contract_account_new
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from md_contract_account_new
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dbresolve.model.mdContractAccountNew">
    insert into md_contract_account_new (id, contract_account_id, contract_id, 
      customer_id, house_property_id, meter_id, 
      account_status, del_flag, city_id
      )
    values (#{id,jdbcType=INTEGER}, #{contractAccountId,jdbcType=INTEGER}, #{contractId,jdbcType=INTEGER}, 
      #{customerId,jdbcType=INTEGER}, #{housePropertyId,jdbcType=INTEGER}, #{meterId,jdbcType=INTEGER}, 
      #{accountStatus,jdbcType=TINYINT}, #{delFlag,jdbcType=TINYINT}, #{cityId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.dbresolve.model.mdContractAccountNew">
    insert into md_contract_account_new
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractAccountId != null">
        contract_account_id,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="housePropertyId != null">
        house_property_id,
      </if>
      <if test="meterId != null">
        meter_id,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contractAccountId != null">
        #{contractAccountId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="housePropertyId != null">
        #{housePropertyId,jdbcType=INTEGER},
      </if>
      <if test="meterId != null">
        #{meterId,jdbcType=INTEGER},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dbresolve.model.mdContractAccountNew">
    update md_contract_account_new
    <set>
      <if test="contractAccountId != null">
        contract_account_id = #{contractAccountId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="housePropertyId != null">
        house_property_id = #{housePropertyId,jdbcType=INTEGER},
      </if>
      <if test="meterId != null">
        meter_id = #{meterId,jdbcType=INTEGER},
      </if>
      <if test="accountStatus != null">
        account_status = #{accountStatus,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dbresolve.model.mdContractAccountNew">
    update md_contract_account_new
    set contract_account_id = #{contractAccountId,jdbcType=INTEGER},
      contract_id = #{contractId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      house_property_id = #{housePropertyId,jdbcType=INTEGER},
      meter_id = #{meterId,jdbcType=INTEGER},
      account_status = #{accountStatus,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      city_id = #{cityId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchAdd" parameterType="java.util.List">
    insert into md_contract_account_new (contract_account_id,contract_id,customer_id,house_property_id,meter_id,account_status,del_flag,city_id)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.contractAccountId,jdbcType=INTEGER},#{item.contractId,jdbcType=INTEGER},#{item.customerId,jdbcType=INTEGER},#{item.housePropertyId,jdbcType=INTEGER},#{item.meterId,jdbcType=INTEGER},#{item.accountStatus,jdbcType=TINYINT},#{item.delFlag,jdbcType=TINYINT},#{item.cityId,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>